label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}


h1 ,h3{
    text-align: center;
    
}

from{
    width: 715px;
    
}

img{
    width: 40px;
    height: 20px;
}